body
{
    background-color: yellow;
}
.container
{
    width: 500px;
    margin-left: 500px;
    margin-top: 150px;
    background-color: white;
}
.image1
{
    width:300px;
    height: 200px;
    float: right;
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(30%) scale(0.95);
}
.image2
{
    width:300px;
    height: 200px;
    float: left;
    opacity: 0 ; 
    transition: all 0.5s;
    transform: translateX(-30%) scale(0.95);
}
.active
{
    opacity: 1;
    transform: translateX(0%) scale(1);
}