body
{
    background-color: yellow;
    text-align: center;
}
.player
{
    margin-top: 100px;
}
video
{
    height: 300px;
    width: 500px;
}
.player__slider
{
    cursor: pointer;
}
.player_button
{
    border: none;
    background-color: #008CBA;
}