h3
{
    text-align: center;
    color: purple;
}
.keys
{
    height: 690px;
    width: 1090px;
    margin-left: 200px;
    background-image: url("../img/band.jpg");
}
.key
{
    border: 1px solid black;
    border-radius: 4px;
    width: 65px;
    height: 60px;
    top: 50%;
    position: relative;
    float: left;
    margin-left: 60px;
    background-color: grey;
    text-align: center;
    padding-top: 15px;
    transition: all 0.07s;
}
.playing
{
    transform: scale(1.1);
    border-color: yellow;
    background-color: black;
}
em
{
    color: white;
}
.sound
{
    color: yellow;
}