.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2 rem;
    overflow: scroll;
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 450px;
        height: 401px; 
    }
}

@media (min-width: 1000px) and (min-height: 1000px) {
    .Burger {
        width: 700px;
        height: 600px; 
    }
}