html
{
    background-image: url("../img/hotel.jpg");
    background-size: cover;
    text-align: center;
    display: flex;
}
.wrapper
{
    background-color: white;
    width: 200px;
    height: auto;
    top: 35%;
    left: 45%;
    position: absolute;
    border-radius: 10px;
    box-sizing: border-box;
}
h2 
{
    text-align: center;
    margin: 0;
    font-weight: 200;
}
.plates 
{
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}
.plates li 
{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    font-weight: 100;
    display: flex;
}
.plates label 
{
    flex: 1;
    cursor: pointer;
}
.plates input 
{
    display: none;
}
.plates input + label:before 
{
    content: '⬜️';
    margin-right: 10px;
}
.plates input:checked + label:before 
{
    content: '🌮';
}
.add-items input 
{
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(0,0,0,0.1);
}