.header
{
    background-color: yellow;
    text-align: center;
    margin: 0px;
}
.left-content
{
    margin: 0px;
    width: 905px;
    height: 661px;
    float: left;
}
img
{
    height: 600px;
    width: 805px;
    cursor: pointer;
}
.right-content
{
    float:right;
    width: 610px;
    height: 661px;
    text-align: center;
}
.square
{
    width: 30%;
    height: 30%;
    top: 35%;
    left: 30%;
    position: relative;
    background-color: azure;
}
.result
{
    width: 50%;
    height: 50%;
    top: 30%;
    left: 25%;
    position: relative;
}
p
{
    font-size: 20px;
}
body
{   
    margin: 0px;
}