html
{
  font-size: 10px;
}
body 
{
  background: #ffc600;
  font-family: 'helvetica neue';
  font-weight: 200;
  font-size: 20px;
}
.words 
{
  max-width: 500px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  padding: 1rem 2rem 1rem 5rem;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem;
}
p 
{
  margin: 0 0 3rem;
}
.words:before 
{
  content: '';
  position: absolute;
  width: 4px; 
  top: 0;
  left: 30px; 
  bottom: 0;
  border: 1px solid;
  border-color: transparent #efe4e4;
}