.Person
{
  width: 20%;
  margin: 16px auto;
  border: 1px solid red;
  box-shadow: 0 2px 3px grey;
  padding: 16px;
  text-align: center;
}

@media (min-width: 500px) {
    .Persons {
        width: 450px;
    }
}