body
{   
    margin: 0px;
}
.header
{
    background-color: yellow;
    text-align: center;
    margin: 0px;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li
{
    display: inline;
    margin: 0;
}
button 
{
    width: 400px;
    height: 50px;
    background-color: green;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}
button:hover
{
    background-color: black;
}
button:focus
{
    background-color: blue;
}