body 
{
    margin: 0;
}
.hero 
{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
h1 
{
    text-shadow: 8px 8px 0 rgba(0,0,0,1);
    font-size: 80px;
}