:root
{
    --spacing: 10px;
    --blur: 10px;
    --base: #ffa500;
}
body
{
    text-align: center;
}
span
{
    color: var(--base);
}
.controls
{
    width: 100%;
    height: 100%;
}
img
{
    background-color: var(--base);
    padding: var(--spacing);
    filter: blur(var(--blur));
}
