html 
{
    box-sizing: border-box;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
*, *:before, *:after 
{
    box-sizing: inherit;
}
body 
{
    margin: 0;
    min-height: 100vh;
    background: purple;
}
nav 
{
    position: relative;
    perspective: 600px;
}
.cool > li > a 
{
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0,0,0,0.2);
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
}
nav ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.cool > li 
{
    position: relative;
    display: flex;
    justify-content: center;
}
.dropdown 
{
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: opacity;
    display: none;
}
.trigger-enter .dropdown 
{
    display: block;
}
.trigger-enter-active .dropdown {
    opacity: 1;
  }
.dropdownBackground 
{
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity:0;
}
.dropdownBackground.open 
{
    opacity: 1;
}
.arrow 
{
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);
}
.bio 
{
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}
.courses 
{
    min-width: 300px;
}
.courses li 
{
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.dropdown a 
{
    text-decoration: none;
    color: #ffc600;
}
a.button 
{
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
.button[href*=twitter] { background: #019FE9; }
.button[href*=facebook] { background: #3B5998; }
.button[href*=courses] { background: #ffc600; }