.red {
    color: red;
  }
.bold {
    font-weight: bold;
}
.Cockpit button {
    border: 1px solid red;
    padding: 16px;
    background-color: purple;
    color: white;
    cursor: pointer;
}
.Cockpit button:hover {
    background-color: green;
    color: white;
}
.Cockpit button.Red {
    background-color: red;
}
.Cockpit button.Red:hover {
    background-color: salmon;
    color: black;
}