body
{
    background-color: lightblue;
}
#page-title
{
    text-align: center;
    color: purple;
}
.clock
{
    height: 800px;
}
.clock-face 
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid white;
    position: relative;
    top: 35%;
    margin-left: 650px;
}
.hand
{
    background: black;
    width: 50%;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);        /* by default , here transform-origin: 50% */
    transform-origin: 100%;          /* so that It doesn't rotate clock-hands from middle , It should rotate them from their right side */
    transition: all 0.5s;            /* hands will tick around */
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
#time
{
    text-align: center;
}