body
{
    background-color: yellow;
}
h1
{
    text-align: center;
}
.inbox
{
    margin-top: 50px;
    margin-left: 550px;
    background-color: white;
    width: 300px;
}
.item
{
    margin-top: 20px;
}