html 
{
    box-sizing: border-box;
}
*, *:before, *:after 
{ 
    box-sizing: inherit; 
}
div 
{
    width: 100%;
    padding: 100px;
}
.one 
{
    background: yellow;
}
.two 
{
    background: lightblue;
}
.three 
{
    background: lightsalmon;
}