html 
{
    box-sizing: border-box;
}
body 
{
    min-height: 100vh;
    margin: 0; /* Important! */
    font-family: sans-serif;
}
.wrapper 
{
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    line-height: 2;
    position: relative;
}
a 
{
    text-decoration: none;
    color: black;
    background: rgba(0,0,0,0.05);
    border-radius: 20px;
}
.highlight 
{
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background: red;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.menu 
{
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    margin:100px 0;
}
.menu a 
{
    display: inline-block;
    padding: 5px;
    margin: 0 20px;
    color: black;
}