.ContentBuilder {
    width:500px;
    height:300px;
    background-color: lightgray;
    text-align: center;
    margin:200px 500px;
}

.ContentBuilder button {
    background-color: green;
    color: white;
    outline:none;
    border-radius: 5px;
    width: 100px;
}

.ContentBuilder button:hover {
    background-color: purple;
}

.ContentBuilder button:disabled {
    background-color: green;
}