body
{
    text-align: center;
    background-color: #FAC42F;
}
.search
{
    margin-top: 50px;
    height: 50px;
    font-size: 20pt;
}
.suggestions
{
    list-style-type: none;
}
li
{
    border: 1px solid black;
    background: #EAF0F1;
    border-radius: 4px;
    height: 50px;
    width: 250px;
    margin-top: 1px;
    left: 40%;
    position: relative;
}
.h1
{
    color: #FAC42F;
}
.name
{
    font-size: 20px;
}